[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "==2.23.0"
pytest = "==5.4.3"
pytest-cov = "==2.9.0"
phonenumbers = "==8.12.5"
black = "==19.10b0"
flake8 = "==3.8.2"
pep8-naming = "==0.10.0"

[packages]
phone-gen = {editable = true,path = "."}

[requires]
python_version = "3.8"
