[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
phonenumbers = "==9.0.12"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"
requests = "==2.32.5"
ruff = "==0.12.9"

[packages]
phone-gen = { editable = true, path = "." }

[requires]
python_version = "3.12"

[scripts]
tests = "pytest ./tests"
format = "ruff format"
check = "ruff check --fix"
